@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffff;
}

.logo
{
    position:sticky;
    bottom:10px;
    right: 10px;

}
.align-right
{
    position:absolute;
    bottom:10px;
    right: 10px;
}

.foot{
  background: #214e8f;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 20px;
}

.card-body{
  background: #eef0f3;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #141414;
  
}

.btn{
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  padding: 20px;
  height: 50px;
  width: 300px;
}

